.container {
  display: flex;
  justify-content: center;
  margin-top: 17%;
  padding: 50px 40px;
}

.card {
  background-color: #c0bebe;
  padding: 50px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}